@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
}

body{
    background-image: url(pacote-social/imagens/fundo-madeira.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    position: relative; 
    height: 100vh;
    
}

#celular{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background-image: url(pacote-social/imagens/frame-iphone.png);
}

#frame-home{
    position: relative;
    top: 80px;
    left: 20px;

    width: 270px;
    height: 480px;
}

#sociais{
    text-align: right;
}

#sociais > a > img{
    height: 50px;
    width: 50px;
    margin: 5px;
    
    border-radius: 50%;
    box-sizing: border-box;
}

#sociais > a > img:hover{
    border: 2px solid rgba(255, 255, 255, 0.514);
}