:root{
    --text-ligth: #FFFFFF;
    --bg-primary: #000000;
    --action-color: #2997FF;
    --subtitle-color: #6E6E73;
    --title-primary-color: #F5F5F7;
}

header{
    background-color: var(--bg-primary);
    color: var(--text-ligth);
    height: fit-content;
    
    top: 0;
    z-index: 1;
    opacity: 0.9;
    position: sticky;
}

header nav ul{
    margin: 0 auto;
    width: fit-content;

    display: flex;
    flex-direction: row;
    
    gap: 2.5rem;
    align-items: center;
    padding: 0.5rem;
}

header nav ul li{
    height: fit-content;
    width: fit-content;

    padding: 0 0.3rem;
    font-size: small;

    cursor: pointer;
    list-style: none;
}

main section{
    background-color: var(--bg-primary);
    color: var(--title-primary-color);    
    text-align: center;
    position: relative;
}

main .main-section h1{
    font-size: 56px;
    font-weight: bold;
    line-height: 60px;
    padding-top: 51px;
}

main .main-section p{
    font-size: 25px;
    line-height: 2rem;
    padding-top: 10px;
    font-weight: normal;
    margin-bottom: 25px;
    color: var(--subtitle-color);
}
main .main-section a{
    color: var(--action-color);
    text-decoration: none;
    line-height: 29px;
    font-size: 20px;
    cursor: pointer;
}

main .main-section a:hover{
    text-decoration: underline;
}

main .main-section .text-wrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    left: 50%;
    transform: translateX(-50%);
}
main .main-section img{
    width: 100%;
    height: auto;
}

main .spirited-section > div{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);   
}
main .spirited-section .actors-names{
    top: 105px;
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 60%;
}

main .spirited-section .actors-names p{
    font-size: 32px;
    color: #DED2B9;
    line-height: 40px;
}

main .spirited-section img{
    width: 100%;
    height: auto;
}

main .spirited-section .spirited-text{
    top: 600px;
}

main .spirited-section .spirited-text p{
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 15px;
    letter-spacing: 0.11px;
}

main .spirited-section .spirited-text span{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.11px;
}

main .iphone-14-section img{
    width: 100%;
    height: auto;
}
main .iphone-14-section > div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);   
}
main .iphone-14-section .iphone-14-section-text{
    top: 50px;
}

main .iphone-14-section .iphone-14-section-text h1{
    font-size: 50px;
    color: #1D1D1F;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: -0.28px;
}

main .iphone-14-section .iphone-14-section-text h2{
    font-size: 28px;
    color: #1D1D1F;
    font-weight: 400;
}

main .iphone-14-section .iphone-14-section-links{
    top: 160px;
    display: flex;
    justify-content: space-between;    
    gap: 25px;
}

main .iphone-14-section .iphone-14-section-links a{
    cursor: pointer;
    font-size: 20px;
    color: #0066CC;
    line-height: 30px;
    letter-spacing: 0.23px;
    text-decoration: none;
}

main .iphone-14-section .iphone-14-section-links a:hover{
    text-decoration: underline;
}