@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
    background-image: linear-gradient(to right, rgb(47, 47, 47), rgb(128, 128, 128));

    }
    
    section#login{
        width: 80vw;
        height: 300px;
    }

    section#login div#imagem-login{
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login div#formulario-login{
        float: right;
        width: 70%;
        height: 100%;

    }

    div.campo input{
        width: 88%;
    }
}

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to left, rgb(26, 26, 26), rgb(128, 128, 128));
   }
    
    section#login{
        width: 80vw;
    }

    section#login div#imagem-login{
        float: right;
        width: 40%;
        height: 100%;
    }

    section#login div#formulario-login{
        float: left;
        width: 60%;
        height: 100%;

    }

    div.campo input{
        width: 89%;
    }

}