@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@keyframes animacao-1 {
    from{width: 245px; height: 245px;} 
    to{width: 445px; height: 445px;}
}

@keyframes entering {
    from{opacity: 0; transform: translateY(200px);}
    to{opacity: 1; transform: translateY(0);}
}

@keyframes entering-2 {
    from{opacity: 0;}
    to{opacity: 1; }
}

::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0); 
}

::-webkit-scrollbar-thumb {
    background: #00DC82;
}

::-webkit-scrollbar-thumb:hover {
    background: #808080; 
}

.note::-webkit-scrollbar{
    width: 2px;
}

.note::-webkit-scrollbar-track{
    background-color: transparent;
}

.note::-webkit-scrollbar-thumb{
    background-color: transparent;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    overflow-x: hidden;
    background-color: #000000;
}

.header{
    width: 100vw;
    display: flex;

    margin: 10px 0px;
    align-items: center;
    justify-content: space-between;

    animation-name: entering-2;
    animation-duration: 1s;
}

.header-logo{
    display: flex;
    align-self: flex-start;
    animation-name: entering-2;
    animation-duration: 8s;
}

.header-logo h1{
    color: #fff;
    margin-top: 5px;
    font-weight: 200;
}

.search{
    flex: 1;
    text-align: center;
}

.search input{
    position: absolute;
    top: 12%;
    left: 51%;
    transform: translate(-50%,-50%);

    background-color: transparent;
    font-weight: 300;
    width: 50%;

    padding: 10px;
    color: #808080;
    padding-right: 20px;

    outline: none;
    border-radius: 10px;
    border: 0.5px solid #247674;
}

.search img{
    width: 30px;
    height: 30px;

    position: absolute;
    top: 12%;
    left: 78%;
    transform: translate(-50%,-50%);
}

#add-btn{
    background-color: #000000;
    border: none;
}

#add-btn img{
    width: 25px;
    height: 25px;

    position: absolute;
    top: 12%;
    left: 82%;
    transform: translate(-50%,-50%);
}

.profile{
    gap: 10px;
    display: flex;
    align-items: center;
}

.profile p{
    color: #fff;
    font-weight: 100;
}

.profile img{
    width: 40px;
    height: 40px;
    
    border-radius: 50%;
    border: 2px solid #247674;

    margin-right: 5px;
}

.error-balloon{
    width: 350px;
    height: 50px;
    
    top: 21%;
    left: 50.5%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: transparent;


    display: none;
    justify-content: center;
    align-items: center;

    animation-name: entering-2;
    animation-duration: 1s;
}

.error-message{
    padding: 10px;
    font-weight: 300;   
    color: #808080;
}

#screenCards{
    display: flex;
    padding: 80px;
    flex-wrap: wrap;
}

.note{
    flex: 0 1 calc(33.33% - 20px);
    margin: 10px;
    padding: 20px;
    
    width: 348px;
    height: 200px;

    overflow: auto;
    white-space: wrap; 
    text-overflow: ellipsis; 
    
    border: 1px solid #00DC82;
    border-radius: 16px;
    background-color: #000000;
    
    animation-name: entering-2;
    animation-duration: 1s;
    
}

.noteTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.noteTitle span{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.noteTitle p{
    padding: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
}

#delete-btn{
    background-color: #000000;
    border: none;
}

#delete-btn img{
    width: 20px;
    height: 20px;
}

.noteTitle h3{
    padding: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 200;
}
.noteTitleRight button{
    background-color: #000000;
    border: none;
} 

.noteTitleRight button img{
    width: 15px;
    height: 15px;
}

.noteTitleRight button:hover{
    cursor: pointer;
} 

.noteTitleRight button:active{
    animation-name: entering-2;
    animation-duration: 1s;
}

.noteContent{
    display: flex;
    overflow: hidden; 
    align-items: center;
    justify-content: space-between;
}

.noteContent p{
    padding: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
}

.noteContentRight button{
    background-color: #000000;
    border: none;
} 

.noteContentRight button img{
    width: 15px;
    height: 15px;
}
.noteContentRight button:hover{
    cursor: pointer;
} 

.noteContentRight button:active{
    animation-name: entering-2;
    animation-duration: 1s;
}

.noteContent2{
    display: flex;
    overflow: hidden; 
    align-items: center;
    justify-content: space-between;
}

.noteContent2 p{
    padding: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
}

.noteContent2Right button{
    background-color: #000000;
    border: none;
} 

.noteContent2Right button img{
    width: 15px;
    height: 15px;
}

.noteContent2Right button:hover{
    cursor: pointer;
} 

.noteContent2Right button:active{
    animation-name: entering-2;
    animation-duration: 1s;
}

.user{
    padding: 10px;
    }

.password{
    padding: 10px;
}