@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@keyframes entering {
    from{opacity: 0; transform: translateY(200px);}
    to{opacity: 1; transform: translateY(0);}
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #0F172A;
    padding: 0px 20px;

    display: flex;
    height: 100vh;

    align-items: center;
    justify-content: center;
}

body h1{
    color: #eee4;
    font-size: 30px;
    font-weight: 400; 
    /* padding-top: 20px; */
    /* align-self: flex-start; */
    position: absolute;
    top: 3%;
    left: 3%;
    z-index: 1;
    transition: opacity 0.3s;
}

.hoverContent {
    position: absolute;
    top: 8%;
    left: 7%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 3s ease-out;  
    z-index: 2;
}

.hiddenImage {
    width: 100px;
    height: 100px;
}

body h1:hover + .hoverContent {
    opacity: 1;
}

body h1:hover {
    transition: opacity 0.3s;
    opacity: 0;
}

#main{
    background-color: #0f172A;
    padding: 10px 20px;

    width: 1092px;
    height: 632px;
}

.material-symbols-outlined {
    position: absolute;
    left: 11%; 
    top: 13%;
    color: #eee4;
}

.material-symbols-outlined:hover{
    color: #fff;
    opacity: 1;
    transition: 1s;
}

#inputSearch input{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    
    border: none;
    outline: none;
    
    border-radius: 8px;
    border-bottom: 1px solid #334155;
   
    background-color: transparent;
    font-size: 30px;
    color: #fff;
}

::placeholder{
    color: #64748B;
    font-size: 30px;
}

#screenCards{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}

.note{
    flex: 0 1 calc(33.33% - 20px);
    margin: 10px;
    width: 348px;
    height: 250px;
    padding: 20px;
    border-radius: 16px;
    background-color: #334155;
    animation-name: entering;
    animation-duration: 1.5s;    
}

.noteTitle h3{
    padding: 5px;
    font-size: 14px;
    color: #E2E8F0;
    font-weight: 400;
    border-bottom: 1px solid #eee4;
}

.noteContent p{
    margin: 5px 10px;
    color: #64748B;
}